    /*=============== GOOGLE FONTS ===============*/
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
    /*=============== VARIABLES CSS ===============*/
    
     :root {
        --header-height: 3rem;
        /*========== Colors ==========*/
        /*Color mode HSL(hue, saturation, lightness)*/
        /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
        --first-hue: 207;
        --sat: 90%;
        --lig: 72%;
        --second-hue: 219;
        --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
        --first-color-alt: hsl(var(--first-hue), var(--sat), 68%);
        /* -4% */
        --title-color: #0B0A0A;
        --text-color: hsl(var(--second-hue), 8%, 35%);
        --text-color-light: #707070;
        --body-color: #FFF;
        --container-color: #FFF;
        --container-color-alt: #F0EFEF;
        /*========== Font and typography ==========*/
        /*.5rem = 8px | 1rem = 16px ...*/
        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 1.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .625rem;
        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semibold: 600;
        /*========== z index ==========*/
        --z-tooltip: 10;
        --z-fixed: 100;
        --z-modal: 1000;
        /*========== Margenes ==========*/
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
    }
    /* Responsive typography */
    
    @media screen and (min-width: 968px) {
         :root {
            --biggest-font-size: 2.5rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
    /*=============== BASE ===============*/
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body,
    button,
    input,
    textarea {
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
    }
    
    body {
        background-color: var(--body-color);
        color: var(--text-color);
        transition: .4s;
        /* for light mode animation */
    }
    
    h1,
    h2,
    h3 {
        color: var(--title-color);
        font-weight: var(--font-semibold);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    
    button {
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    /*=============== REUSABLE CSS CLASSES ===============*/
    
    .container {
        max-width: 968px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .grid {
        display: grid;
        gap: 1.25rem;
    }
    
    .main {
        overflow: hidden;
    }

    .section {
        padding: 4.5rem 0 1rem;
    }
    
    .section-content {
        padding: 2.5rem 0 1rem;
    }
    
    .section__title,
    .section__subtitle {
        text-align: center;
    }
    
    .section__title {
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: 2rem;
    }
    
    .section__subtitle {
        display: block;
        font-size: var(--smaller-font-size);
        color: #111;
    }
    
    .title,
    .content,
    .footer-details {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .title .title-font {
        font-size: 24px;
        font-weight: 600;
        color: #403A3A;
        margin-top: 20px;
    }
    
    .title .subtitle-font {
        font-size: 18px;
        font-weight: 300;
        color: #403A3A;
    }
    
    .details-text {
        margin-bottom: 40px;
    }
    
    .details-title {
        margin-bottom: 20px;
    }
    
    .details-text-med {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 300;
    }

    .link {
        font-weight: 600;
        padding-bottom: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
    }
    
    .details-title-short,
    .details-text-short {
        margin-bottom: 0;
    }
    
    .details-text-short {
        text-indent: 20px;
    }
    
    .details-title-underline {
        margin-top: 10px;
        margin-bottom: 40px;
        text-decoration: underline;
    }
    
    .center {
        padding-bottom: 20px;
    }
    
    #progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: 8px;
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        width: 0%;
        z-index: 100;
        transition: width ease-out;
    }
    /*=============== HEADER & NAV===============*/
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: var(--z-fixed);
        background-color: #FFF;
        transition: .3s;
    }
    
    .l-header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        transition: .3s;
    }
    
    .bd-container {
        max-width: 968px;
        width: calc(100% - 3rem);
        margin-left: var(--mb-3);
        margin-right: var(--mb-3);
    }
    
    .bd-grid {
        display: grid;
        gap: 1.5rem;
    }
    
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__logo {
        color: var(--first-color);
        font-weight: var(--font-medium);
        transition: .4s;
    }
    
    .nav__logo:hover {
        color: var(--first-color-alt);
    }
    
    .nav__tool {
        font-size: 20px;
    }
    
    @media screen and (max-width: 968px) {
        .nav__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem;
            background-color: var(--body-color);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
            border-radius: 1rem 1rem 0 0;
            z-index: var(--z-fixed);
            transition: .3s;
        }
    }
    
    .nav__logo__footer,
    .nav__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }
    
    .nav__toggle {
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    .nav__item {
        text-align: center;
    }
    
    .nav__list__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__link {
        color: var(--text-color);
        font-size: 1.25rem;
        padding: .4rem;
        display: flex;
        border-radius: 5rem;
    }
    
    .nav__link__footer {
        display: flex;
        flex-direction: column;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
        font-weight: var(--font-medium);
    }
    
    .nav__link__footer:hover {
        color: var(--title-color);
    }
    
    .nav__icon {
        font-size: 1.2rem;
        margin-bottom: var(--mb-1);
    }
    /* Active link */
    
    .active-link {
        color: var(--title-color);
    }
    
    .scroll-header {
        box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
        transition: .3s;
    }
    
    .show-menu-footer {
        bottom: var(--header-height);
    }

    .header-menu {
        width: 100%;
        height: 50px;
        margin-bottom: -60px;
        text-align: center;
        padding-top: 30px;

    }

    /* Langue Menu */
    
    .lang-menu {
        position: relative;
    }
    
    .selected-lang {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        height: 25px;
    }
    
    .selected-lang .nav__tool {
        width: 25px;
        text-align: right;
        vertical-align: middle;
    }
    
    .lang-menu ul {
        margin: 0;
        padding: 0;
        background-color: #FFF;
        border: 1px solid #F8F8F8;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: none;
        position: absolute;
        top: 25px;
        right: 0;
    }
    
    .lang-menu ul li a {
        width: 150px;
        display: block;
        padding: 5px 10px;
    }
    
    .lang-menu ul li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .lang-menu ul li img {
        display: block;
        width: 16px;
        height: 16px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
    
    .lang-menu ul li:hover {
        background-color: #F8F8F8;
    }
    
    .lang-menu ul.show-menu {
        display: block;
        transition: .3s;
    }

    /* Scroll top */
    .scrolltop {
        position: fixed;
        right: 1rem;
        bottom: -20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3rem;
        background-color: var(--container-color-alt);
        border-radius: .4rem;
        z-index: var(--z-tooltip);
        transition: .4s;
        visibility: hidden;
    }

    .scrolltop__icon {
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .show-scroll {
        visibility: visible;
        bottom: 5rem;
    }

    /*=============== HOME ===============*/
    
    .home__container {
        position: relative;
        row-gap: 4.5rem;
        padding-top: 2rem;
    }
    
    .home__data {
        text-align: center;
    }
    
    .home__greeting,
    .home__education {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
    }
    
    .home__greeting {
        display: block;
        color: #111;
        margin-bottom: .25rem;
    }
    
    .home__education {
        color: var(--first-color);
        margin-bottom: 2.5rem;
    }
    
    .home__name {
        font-size: var(--biggest-font-size);
        color: #111;
    }
    
    .home__handle,.home__img {
        justify-self: center;
        width: 190px;
        height: 293px;
        /*background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), .2));*/
        border-radius: 10rem 10rem 1rem 1rem;
        display: flex;
        justify-content: center;

        overflow: hidden;
    }
    
    .home__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    .home__social,
    .home__scroll {
        position: absolute;
    }
    
    .home__social {
        bottom: 5rem;
        left: 0;
        display: grid;
        row-gap: .5rem;
    }
    
    .home__social-link {
        width: max-content;
        background-color: var(--first-color);
        color: #FFF;
        padding: .25rem;
        border-radius: .25rem;
        display: flex;
        font-size: 1rem;
        transition: .4s;
    }
    
    .home__social-link:hover {
        background-color: var(--first-color-alt);
    }
    
    .home__social::after {
        content: '';
        width: 32px;
        height: 2px;
        background-color: var(--first-color);
        transform: rotate(90deg) translate(16px, 3px);
    }
    
    .home__scroll {
        color: var(--first-color);
        right: -1.5rem;
        bottom: 4rem;
        display: grid;
        row-gap: 2.25rem;
        justify-items: center;
    }

    .scroll-fr{
        row-gap: 3.50rem;
    }

    .scroll-de{
        row-gap: 4rem;
    }
    
    .home__scroll-icon {
        font-size: 1.25rem;
    }

    .home__scroll-name {
        font-size: var(--smaller-font-size);
        transform: rotate(-90deg);
    }
    /*=============== BUTTONS ===============*/
    
    .button {
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        padding: .75rem 1rem;
        border-radius: .5rem;
        font-weight: var(--font-medium);
        transition: .4s;
    }
    
    .button:hover {
        background-color: var(--first-color-alt);
        color: var(--body-color);
    }
    
    .button__ghost {
        background-color: transparent;
        border: 2px solid var(--first-color);
        color: var(--first-color);
    }
    /*=============== ABOUT ===============*/
    
    .about__container {
        row-gap: 2.5rem;
    }
    
    .about__img {
        width: 220px;
        border-radius: 1.5rem;
        justify-self: center;
    }
    
    .about__data {
        text-align: center;
    }
    
    .about__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        margin-bottom: 2rem;
    }
    
    .about__box {
        background-color: var(--container-color);
        border-radius: .75rem;
        padding: .75rem .5rem;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        transition: .4s;
    }
    
    .about__icon {
        font-size: 1.5rem;
        color: var(--first-color);
    }
    
    .about__title {
        font-size: small;
    }
    
    .about__subtitle {
        font-size: var(--tiny-font-size);
    }
    
    .about__description {
        margin-bottom: 2rem;
        text-align: left;
    }
    
    .about__box:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 10px hsl(var(--second-hue), 48%, 8%, .2);
    }
    /*=============== SKILLS ===============*/
    
    .skills__container {
        row-gap: 2rem;
        padding-top: 1rem;
    }
    
    .skills__content {
        background-color: var(--container-color);
        padding: 1.5rem;
        border-radius: 1.25rem;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        transition: .4s;
    }
    
    .skills__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--first-color);
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    .skills__box {
        display: flex;
        justify-content: center;
        column-gap: 2.5rem;
    }
    
    .skills__group {
        display: grid;
        align-content: flex-start;
        row-gap: 1rem;
    }
    
    .skills__data {
        display: flex;
        column-gap: .5rem;
    }
    
    .skills .bxs-badge-check {
        font-size: 1rem;
        color: var(--first-color);
    }
    
    .skills__name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        line-height: 18px;
    }
    
    .skills__level {
        font-size: var(--tiny-font-size);
    }
    
    .skills__content:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 10px hsl(var(--second-hue), 48%, 8%, .2);
    }
    /*=============== SERVICES ===============*/
    
    .services__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding-top: 1rem;
    }
    
    .services__card {
        background-color: var(--container-color);
        padding: 3rem 1.5rem 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        transition: .4s;
    }
    
    .services__title {
        font-size: var(--h3-font-size);
        margin-bottom: 2.5rem;
    }
    
    .services__button {
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
    }
    
    .services__button:hover .services__icon {
        transform: translateX(.25rem);
    }
    
    .services__icon {
        font-size: 1rem;
        transition: .4s;
    }
    
    .services__card:hover {
        box-shadow: 0 4px 10px hsl(var(--second-hue), 48%, 8%, .2);
    }
    /* Services modal */
    
    .services__modal {
        position: fixed;
        inset: 0;
        background-color: hsla(var(--second-hue), 28%, 16%, .7);
        padding: 2rem 1rem;
        display: grid;
        place-items: center;
        visibility: hidden;
        opacity: 0;
        transition: .4s;
        z-index: var(--z-fixed);
    }
    
    .services__modal-content {
        position: relative;
        background-color: var(--body-color);
        padding: 4.5rem 1.5rem 2.5rem;
        border-radius: 1.5rem;
    }
    
    .services__modal-title,
    .services__modal-description {
        text-align: center;
    }
    
    .services__modal-title {
        font-size: var(--h3-font-size);
        color: var(--first-color);
        margin-bottom: 1rem;
    }
    
    .services__modal-description {
        font-size: var(--small-font-size);
        margin-bottom: 2rem;
    }

    .services__modal-subtitle {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .services__modal-list {
        display: grid;
        row-gap: .75rem;
    }
    
    .services__modal-item {
        display: flex;
        align-items: flex-start;
        column-gap: .5rem;
    }
    
    .services__modal-icon {
        font-size: 1.5rem;
        color: var(--first-color);
    }
    
    .services__modal-info {
        font-size: var(--small-font-size);
    }
    
    .services__modal-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: var(--first-color);
        cursor: pointer;
    }
    /*Active modal*/
    
    .active-modal {
        opacity: 1;
        visibility: visible;
    }
    /*=============== WORK ===============*/
    
    .work__container {
        padding-top: 1rem;
    }
    
    .work__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .75rem;
        margin-bottom: 2rem;
    }
    
    .work__item {
        cursor: pointer;
        color: var(--title-color);
        padding: .25rem .75rem;
        font-weight: var(--font-medium);
        border-radius: .5rem;
    }
    
    .work__card {
        background-color: var(--container-color);
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        transition: .4s;
    }
    
    .work__img {
        border-radius: 1rem;
        margin-bottom: .75rem;
    }
    
    .work__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        margin-bottom: .25rem;
    }
    
    .work__button {
        width: max-content;
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: .25rem;
    }
    
    .work__button:hover .work__icon {
        transform: translateX(.25rem);
    }
    
    .work__icon {
        font-size: 1rem;
        transition: .4s;
    }
    
    .work__card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px hsl(var(--second-hue), 48%, 8%, .2);
    }
    /* Active item work*/
    
    .active-work {
        background-color: var(--first-color);
        color: var(--body-color);
    }
    /*=============== PROJECT ===============*/
    
    .projects__container {
        overflow: initial;
    }
    
    .projects__content {
        display: grid;
        justify-content: center;
    }
    
    .projects__img {
        width: 250px;
        border-radius: .75rem;
        margin-bottom: 1.25rem;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .projects__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }
    
    .projects__title {
        font-size: var(--h2-font-size);
        margin-bottom: 1.25rem;
        margin: .5rem 0 1.25rem;
    }
    
    .projects__button {
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        color: var(--first-color);
        font-size: var(--small-font-size);
    }
    
    .projects__button i {
        font-size: 1rem;
        transition: .3s;
    }
    
    .projects__button:hover i {
        transform: translateX(.25rem);
    }
    /* Swiper class */
    
    .projects__container .swiper-button-prev::after,
    .projects__container .swiper-button-next::after {
        content: '';
    }
    
    .projects__container .swiper-button-prev,
    .projects__container .swiper-button-next {
        width: initial;
        height: initial;
        margin: initial;
        font-size: 2.5rem;
        color: var(--title-color);
    }
    
    .projects__container .swiper-button-prev {
        left: 1rem;
        top: 4.5rem;
    }
    
    .projects__container .swiper-button-next {
        right: 1rem;
        top: 4.5rem;
    }
    
    .projects__container .swiper-slide {
        margin-bottom: 4.5rem;
    }
    
    .projects__container .swiper-pagination-bullets {
        bottom: 0;
    }
    
    .projects__container .swiper-pagination-bullet {
        background-color: var(--text-color-light);
        opacity: initial;
        transition: .3s;
    }
    
    .projects__container .swiper-pagination-bullet-active {
        background-color: var(--title-color);
        width: 25px;
        border-radius: 20px;
    }
    /*=============== CONTACT ===============*/
    
    .contact__container {
        row-gap: 3rem;
        padding-bottom: 3rem;
    }
    
    .contact__title {
        text-align: center; 
        font-size: var(--h3-font-size);
        margin-bottom: 1.5rem;
        color: #111;
    }
    
    .contact__info {
        display: grid;
        gap: 1rem;
    }
    
    .contact__card {
        background-color: var(--container-color);
        padding: 1rem;
        border-radius: .75rem;
        text-align: center;
        box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, .1);
        transition: .4s;
    }
    
    .contact__card-icon {
        font-size: 2rem;
        color: var(--title-color);
        margin-bottom: .25rem;
    }
    
    .contact__card-title,
    .contact__card-data {
        font-size: var(--small-font-size);
    }
    
    .contact__card-title {
        font-weight: var(--font-medium);
    }
    
    .contact__card-data {
        display: block;
        margin-bottom: .75rem;
    }
    
    .contact__button {
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: .25rem;
    }
    
    .contact__button:hover .contact__button-icon {
        transform: translateX(.25rem);
    }
    
    .contact__button-icon {
        font-size: 1rem;
        transition: .4s;
    }
    
    .contact__form-div {
        position: relative;
        margin-bottom: 2rem;
        height: 4rem;
    }
    
    .contact__form-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid var(--text-color-light);
        background: none;
        color: var(--text-color);
        outline: none;
        padding: 1.5rem;
        border-radius: .75rem;
        z-index: 1;
    }
    
    .contact__form-tag {
        position: absolute;
        top: -.75rem;
        left: 1.25rem;
        font-size: var(--smaller-font-size);
        padding: .25rem;
        background-color: var(--body-color);
        z-index: 10;
    }
    
    .contact__form-area {
        height: 11rem;
    }
    
    .contact__form-area textarea {
        resize: none;
    }
    
    .contact__card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px hsl(var(--second-hue), 48%, 8%, .2);
    }
    /*=============== FOOTER ===============*/
    
    .footer {
        background-color: var(--first-color);
    }
    
    .footer__container {
        padding: 5rem 0 6rem;
    }
    
    .footer__title,
    .footer__link {
        color: var(--body-color);
    }
    
    .footer__title {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .footer__list {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .footer__copy {
        display: block;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        color: var(--container-color);
        text-align: center;
        font-size: var(--small-font-size);
    }

    .left {
        text-align: left;
    }

    .biggerFont {
        font-size: 26px;
    }


    #modalAction:hover {
        cursor: pointer;
    }

    /*=============== LINKS PAGE ===============*/
    .header__info {
        background-color: #F8F8F8;
        padding: 5rem 1rem 5rem 1rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    }

    .outline-off {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
    }

    .nav__item__link {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5rem;
    }

    .content__items {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .links__group {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .links {
        background-color: #F8F8F8;
        padding: 30px 0;
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 15px;
        display: inline-flex;
        column-gap: 2rem;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: .3s;
    }

    .links:hover {
        background-color: #F4F4F4;
    }

    .img-link {
        background-color: #F0EFEF;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        padding: 12px;
        text-align: center;
    }

    .item-data {
        font-size: 16px;
    }

    .item__links__group {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .item__card {
        background-color: #F8F8F8;
        padding: 30px 0;
        cursor: pointer;
        margin-bottom: 20px;
        border-radius: 15px;
        display: inline-flex;
        flex-direction: column;
        column-gap: 2rem;
        padding-left: 20px;
        position: relative;
        overflow: hidden;
        transition: .3s;
        width: 100%;
    }

    .item__card h1 {
        margin-bottom: 5px;
    }

    .links.pressed-link {
        background-color: #9d4edd;
        color: #F4F4F4;
    }

    .links.pressed-link:hover {
        background-color: #7b2cbf;
        color: #F8F8F8;
    }
    /*=============== SCROLL BAR ===============*/
    
     ::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(var(--second-hue), 8%, 38%);
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: hsl(var(--second-hue), 8%, 26%);
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(var(--second-hue), 8%, 20%);
    }
    /*=============== BREAKPOINTS ===============*/
    /* For small devices */
    
    @media screen and (max-width: 320px) {
        .nav__menu {
            padding: 1rem 1.5rem;
        }
        .home__button {
            flex-direction: column;
        }
        .home__handle,
        .home__img {
            width: 150px;
            height: 253px;
        }
        
        .about__info {
            grid-template-columns: repeat(2, 1fr);
        }
        .skills__box {
            column-gap: 1rem;
        }
        .skills__name {
            font-size: var(--small-font-size);
        }
        .services__container {
            grid-template-columns: 145px;
            justify-content: center;
        }
        .work__item {
            font-size: var(--small-font-size);
        }
        .work__filters {
            column-gap: .25rem;
        }
        .nav__list__footer {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem .5rem;
        }
        .projects__img {
            width: 200px;
            justify-self: center;
        }
    }
    /* For medium devices */
    
    @media screen and (min-width: 576px) {
        .about__info {
            grid-template-columns: repeat(3, 140px);
            justify-content: center;
        }
        .about__description {
            padding: 0 5rem;
        }
        .skills__container {
            justify-content: center;
        }
        .skills__content {
            padding: 2rem 4rem;
        }
        .services__container {
            grid-template-columns: repeat(2, 160px);
            justify-content: center;
        }
        .services__modal-content {
            width: 500px;
            padding: 4.5rem 2.5rem 2.5rem;
        }
        .services__modal-description {
            padding: 0 3.5rem;
        }
        .work__container {
            justify-content: center;
        }
        .work__img {
            width: 295px;
        }
        .contact__info {
            grid-template-columns: 300px;
            justify-content: center;
        }
        .contact__form {
            width: 360px;
            margin: 0 auto;
        }
        .projects__container {
            width: 400px;
            overflow: hidden;
        }
        .projects__container .swiper-button-prev {
            left: 0.5rem;
        }
        .projects__container .swiper-button-next {
            right: 0.5rem;
        }
    }
    
    @media screen and (min-width: 767px) {
        .work__container {
            grid-template-columns: repeat(2, max-content);
        }
        .contact__container {
            grid-template-columns: repeat(2, max-content);
            justify-content: center;
            column-gap: 3rem;
        }
        .title,
        .content,
        .footer-details {
            margin-left: 80px;
            margin-right: 80px;
        }
        .projects__container {
            width: 500px;
        }
        .header__info {
            padding: 5rem 4.5rem 5rem 4.5rem;
        }
    }
    /* For large devices */
    
    @media screen and (min-width: 992px) {
        .container {
            margin-left: auto;
            margin-right: auto;
        }
        .section {
            padding: 6.5rem 0 1rem;
        }
        .section__title {
            margin-bottom: 3.5rem;
        }
        .nav {
            height: calc(var(--header-height) + 1rem);
        }
        .home__handle,
        .home__img {
            width: 290px;
            height: 400px;
        }

        .home__social-link {
            padding: .4rem;
            font-size: 1.25rem;
        }
        .home__social::after {
            transform: rotate(90deg) translate(16px, 0);
        }
        .home__scroll-icon {
            font-size: 2rem;
        }
        .about__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            column-gap: 4rem;
        }
        .about__img {
            width: 350px;
        }
        .about__data {
            text-align: initial;
        }
        .about__info {
            justify-content: initial;
        }
        .about__box {
            text-align: center;
            padding: 1rem 1.25rem;
        }
        .about__description {
            padding: 0 4rem 0 0;
            margin-bottom: 2.5rem;
        }
        .skills__container {
            grid-template-columns: repeat(2, 350px);
            column-gap: 3rem;
        }
        .services__container {
            grid-template-columns: repeat(3, 192px);
            column-gap: 3rem;
        }
        .services__card {
            padding: 5rem 2rem 1.5rem;
        }
        .work__container {
            gap: 3rem;
        }
        .work__gap {
            padding: 1.25rem;
        }
        .work__img {
            margin-bottom: 1rem;
        }
        .work__title {
            margin-bottom: .5rem;
        }
        .contact__container {
            column-gap: 6rem;
        }
        .title,
        .content,
        .footer-details {
            margin-left: 100px;
            margin-right: 100px;
        }
        .bd-container {
            margin-left: auto;
            margin-right: auto;
        }
        .l-header {
            display: none;
        }

        /* Scroll top */
        .scrolltop {
            right: 5rem;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .projects__container {
            width: 900px;
        }
        .projects__container .swiper-button-prev,
        .projects__container .swiper-button-next {
            font-size: 3rem;
        }
        .projects__container .swiper-button-prev {
            left: -1rem;
        }
        .projects__container .swiper-button-next {
            right: -1rem;
        }
        .projects__container .swiper-slide {
            margin-bottom: 6.5rem;
        }
        .projects__img {
            width: 320px;
            margin-bottom: 2rem;
            height: 180px;
        }

        .links__group{
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .links {
            padding: 2rem 1rem;
            border-radius: 15px;
            background-color: #F8F8F8;
            margin-right: 50px;
            width: auto;
        }

        .item__card {
            padding-left: 50px;
        }
    }